.ipynb_checkpoints/
*.pyc
src/fair_irl/logs/*
src/fair_irl/resources/*
experiment_output/**/*.csv
experiment_output/**/*.json
experiment_output/**/*.pdf
data/**/*.csv
data/**/*.zip
data/**/*.p
dist/
*egg-info/
*.DS_Store
*.json
wandb/
